<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enter Login</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="font/bootstrap-icons.css">
    <script type="text/javascript" src="crypto-js.js"></script>
    <script>
       
    </script>
    <script>function checkpassword(event){

        //Hashing -> one way mucking. Not random!
            // share key encryption
            //Public private key encryption
            //Hash add salt hash the concatination
            //send concatination as hashedpassword
            //Get the two passwords
            const password1= document.getElementById("password1").value;
            const password2= document.getElementById("password2").value;
            let passwordValid = false;
            let message = "";
            if(password1 == ""){
                message = "Please enter password";
            }else if(password2 ==""){
                message = "Please re-enter password";
            }else if (password1!= password2){
                message = "Passwords didnt match";
            }else {
                passwordValid = true;
            }
            if(!passwordValid){
                document.getElementById("message").innerHTML = message;
                event.preventDefault();

            }else{
                let salt = CryptoJS.lib.WordArray.random(8);
                document.getElementById("salt").value = salt;
                let hashed = CryptoJS.SHA256(password1 + ":" + salt).toString(CryptoJS.enc.Hex);
                document.getElementById("hash").value = hashed;
            }
    }</script>
</head>
<body>
    <div class="container-fluid vh-100" style="margin-top: 10px;">
    <div class="" style="margin-top: 100px;">
        <div class="rounded d-flex justify-content-center">
            <div class="col-md-4 col-sm-12 shadow-lg p-5 bg-light">
                <div class="text-center">
                    <h3 class="text-primary">
                        Sign up
                    </h3>
                    <form  method="post" onsubmit="return checkpassword(event);">
                        <div class="p-4">
                            <div class="input-group mb-3">
                                <span class="input-group-text bg-primary">
                                    <i class="bi bi-person-plus-fill text-white"></i>
                                </span>
                                <input id="firstname" name="firstname" type="text" class="form-control" autofocus ="autofocus" placeholder = "first name">

                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text bg-primary">
                                    <i class="bi bi-person-plus-fill text-white"></i>
                                </span>
                                <input id="lastname" name="lastname" type="text" class="form-control" autofocus ="autofocus" placeholder = "last name">

                            </div>
                            
                            <div class="input-group mb-3">
                                <span class="input-group-text bg-primary"><i class="bi bi-key-fill text-white"></i></span>
                                <input id="password1"  type="password" class="form-control" placeholder="Password">
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text bg-primary"><i class="bi bi-key-fill text-white"></i></span>
                                <input id="password2"  type="password" class="form-control" placeholder="Re-enter Password">
                            </div>
                            <div>
                                <p id="message" class="text-danger" style="height: 25px;">
                                    <%- locals.message %>
                                </p>
                            </div>
                            <input type="hidden" id="hash" name="hash">
                            <input type="hidden" id="salt" name="salt">
                           
                                   
                                    <div class="p-4">
                                        
                                    <button class="btn btn-primary mt-2" type="submit">
                                        Login
                                    </button>
                                </div>
                                
                               
                            
                            
                        </div>
                    </form>
                    

                </div>
            </div>
        </div>
    </div>
    </div>
</body>
</html>