.main-content{
    justify-content: center;
    align-items: center;
    
}
.register-container{
    /* height: 70%; */
    width: 30%;
    margin-top: 10%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 3px 15px rgb(109, 109, 109);
    border-radius: 5px;

}

.SignUpForm{
    min-width: auto;
    text-align: center;
    
}
.header{
    text-align: center;
    color: rgb(71, 145, 108);
}

.btn{
    display: block;
    margin: 1rem auto; 
    background-color: rgb(71, 145, 108);
    color: rgb(255, 255, 255);
    border-radius: 5px;
    border: none;
}

.btn:hover{
    background-color: rgb(62, 126, 94);
}
.have-account{
    text-decoration: none;
    color: rgb(71, 145, 108);
}
.have-account:hover{
    color: rgb(62, 126, 94);
}
.input{
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: row;
}
.password{
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: row;
}
.icon{
    margin-right: 10px;
    margin-top: 0.5rem;
    color: rgb(71, 145, 108);
}
.errorMessage{
    color: red;
    font-size: 12px;
  
  }