.App {
  text-align: center;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.NavBar{
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  margin-top: 0px;
  width: 100vw;
  height: 10vh;
  background-color: rgb(71, 145, 108);
  z-index: 1000;
  box-shadow: 3px 3px 10px rgb(86, 86, 86);
  overflow: hidden;
}
.bankName{
  position: fixed;
  left: 10px;
  color: white;
  text-decoration: none;
  font-size: 40px;
  font-weight: bold;
}
.profile-icon{
  position: absolute;
  right: 30px;
}

.main-container{
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

.account-container{
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  width: 60%;
  height: 25vh;
  box-shadow: 3px 3px 10px rgb(86, 86, 86);
  margin-bottom: 5rem;
  
}
.container-banner{
  width: 100%;
  height: 20%;
  background-color: rgb(71, 145, 108);
  position: relative;
  border-radius: 10px 10px 0 0;
}
.option-icon{
  position: absolute;
  right: 25px;
  
}
.option-icon:hover{
  color: rgb(71, 145, 108);
}

.account-lbl{
  position: absolute;
  bottom: 0;
  left: 0;
  margin-left: 1rem;
  font-size: 15px;
  color: white;
}

.balance{
  
  color: rgb(71, 145, 108);
  font-size: 12px;
  margin-top: 5rem;
}
.balance-txt{
  position: relative;
  font-size: 70px;
}

.logout-container{
  position: fixed;
  right: 80px;
}
.logout-btn{
  border-radius: 5px;
  padding: 8px;
  background-color: red;
  border: none;
  color: white;
}
.navbaractions{
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
}
.navbarnotloggedin{
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
  position:absolute;
  
  right: 8vw;
}
.navlinks{
  text-align: center;
}
.navlink{
  
  color: white;
  text-decoration: none;
  padding: 44px 23px; /* Ensures enough clickable area */
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.navlink:hover{
  background-color: rgb(59, 122, 91); /* Full white box on hover */
  color: rgb(255, 255, 255); /* Adjust text color for contrast */
}

/* Modal Styling */
.Modal-body{
  width: 100%;
}
.options-list{
  text-align: center;
  list-style: none;
  padding:0;
}
.options-list li{
  padding: 30px 20px;
  cursor: pointer;
  transition: background 0.3s ease;
}
.options-list li:hover{
  background-color: rgb(223, 223, 223);
  width: 100%; /* Ensures it spans the modal width */
  display: block; /* Makes sure it extends fully */
}

/*Landing Page*/
.card{
  margin-top: 5rem;
  width: 30vw;
  background-color: whitesmoke;
  box-shadow: 3px 3px 10px black;
}

